<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#"/>
    <title>go</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/gojs/2.2.7/go-debug.js"></script>
    <style>
      #myDiagramDiv{
    border: 1px solid black;
    width: 1000px;
    height: 400px;
    position: relative;
    cursor: auto;
    margin:auto;
    margin-top:10px;
    }

      #kongzhi{
        margin:auto;
        margin-top:40px;
        width:600px;
      }

      #saveBtn{
        margin-left:195px;
        width:100px;
      }

      #loadBtn{
        width:100px;
      }
    </style>
</head>
<body>
    <div id="header">
        <select id="selectNode">
            <option value="netns">netns</option>
            <option value="vethpair">vethpair</option>
            <option value="bridge">bridge</option>
            <option value="vxlan">vxlan</option>
        </select>
        <input type="text" placeholder="添加设备名" id="inputCreate1">
        <input type="hidden" placeholder="添加设备名" id="inputCreate2">
        <input type="hidden" placeholder="添加本地ip地址" id="inputCreate3">
        <input type="hidden" placeholder="本地设备名" id="inputCreate4">
        <input type="text" placeholder="图中坐标" value="0 140" id="inputLocation">
        <button id="createDevice">添加设备</button>
        <br/>
        <input type="text" placeholder="请输入连接设备名" id="inputConnect1">
        <input type="text" placeholder="请输入连接设备名" id="inputConnect2">
        <button id="connectDevice">连接设备</button>
        <br/>
        <input type="text" placeholder="请输入设置ip设备名" id="inputAddIp">
        <input type="text" placeholder="请输入ip地址" id="inputIp">
        <button id="addIp">设置ip</button>
        <br/>
        <input type="text" placeholder="启动设备名" id="inputSetUp">
        <button id="setUpDevice">启动设备</button>
        <br/>
        <input type="text" placeholder="删除设备名" id="inputDelete">
        <button id="deleteDevice">删除设备</button>
        <br/>
        <button id="forwardAccept">开启转发相关配置</button>
        <input type="text" placeholder="请输入配置路由的设备名" id="inputRoute">
        <button id="setRoute">配置路由</button>
        <input type="text" placeholder="请输入bridge名" id="inputDNATbr">
        <input type="text" placeholder="请输入网段" id="inputLAN">
        <button id="setDNAT">配置DNAT规则</button>
        <input type="text" placeholder="请输入bridge名" id="inputSNATbr">
        <input type="text" placeholder="请输入netns名" id="inputSNATnetns">
        <button id="setSNAT">配置SNAT规则</button>
        <br/>
        <input type="text" placeholder="请输入netns名" id="inputServernetns">
        <button id="openServer">启动一个server</button>
        <!-- <input type="text" id="inputPing">
        <button id="ping">ping</button> -->

    </div>
    <div id="kongzhi">
      <button id="saveBtn">save</button>
      <button id="loadBtn">load</button>
    </div>
    <div id="myDiagramDiv">
    </div>



 <script>
    let nodeDataArray=[];

    let linkDataArray=[];



    {
    const selectNode=document.getElementById("selectNode");
    const inputCreate1=document.getElementById("inputCreate1");
    const inputCreate2=document.getElementById("inputCreate2");
    const inputCreate3=document.getElementById("inputCreate3");
    const inputCreate4=document.getElementById("inputCreate4");
    const inputLocation=document.getElementById("inputLocation");
    const createDevice=document.getElementById("createDevice");

    const inputConnect1=document.getElementById("inputConnect1");
    const inputConnect2=document.getElementById("inputConnect2");
    const connectDevice=document.getElementById("connectDevice");

    const inputAddIp=document.getElementById("inputAddIp");
    const inputIp=document.getElementById("inputIp");
    const addIp=document.getElementById("addIp");

    const inputSetUp=document.getElementById("inputSetUp");
    const setUpDevice=document.getElementById("setUpDevice");

    const inputDelete=document.getElementById("inputDelete");
    const deleteDevice=document.getElementById("deleteDevice");

    const forwardAccept=document.getElementById("forwardAccept");

    const setRoute=document.getElementById("setRoute");
    const inputRoute=document.getElementById("inputRoute");

    const inputDNATbr=document.getElementById("inputDNATbr");
    const inputLAN=document.getElementById("inputLAN");
    const setDNAT=document.getElementById("setDNAT");

    const inputSNATbr=document.getElementById("inputSNATbr");
    const inputSNATnetns=document.getElementById("inputSNATnetns");
    const setSNAT=document.getElementById("setSNAT");

    const inputServernetns=document.getElementById("inputServernetns");
    const openServer=document.getElementById("openServer");

    const inputPing=document.getElementById("inputPing");
    const ping=document.getElementById("ping");

    const myDiagramDiv=document.getElementById("myDiagramDiv");
    const saveBtn=document.getElementById("saveBtn");
    const loadBtn=document.getElementById("loadBtn");
    }


    const nodeDataArrayPush=(Object)=>{
      for(let i=0;i<nodeDataArray.length;i++)
      {
        if(nodeDataArray[i].key===Object.key)
        { console.log("设备不能重名！")
          return false;

        }
      }
      nodeDataArray.push(Object);
    }

    const locationMove=(x,y)=>{
      const temp_arr=inputLocation.value.split(" ");
            temp_arr[0]=Number(temp_arr[0])+x;
            temp_arr[1]=Number(temp_arr[1])+y;
            inputLocation.value=temp_arr.join(" ");
    }

    const linkDataArrayPush=()=>{
          if(inputConnect1.value===inputConnect2.value)
          {
            console.log("两设备名不能相等！")
            return false;
          }

          for(let i=0;i<linkDataArray.length;i++)
          {
            if((linkDataArray[i].from===inputConnect1.value&&linkDataArray[i].to===inputConnect2.value)||(linkDataArray[i].from===inputConnect2.value&&linkDataArray[i].to===inputConnect1.value))
            {
              console.log("该连接已存在了！")
              return false;
            }
          }
            let b1=false;
            let b2=false;
            for(let i=0;i<nodeDataArray.length;i++)
            {
              if(nodeDataArray[i].key===inputConnect1.value&&nodeDataArray[i].type==="veth")
              b1=nodeDataArray[i];
              else if(nodeDataArray[i].key===inputConnect1.value&&nodeDataArray[i].type==="netns")
              b2=nodeDataArray[i];
              else if(nodeDataArray[i].key===inputConnect2.value&&nodeDataArray[i].type==="veth")
              b1=nodeDataArray[i];
              else if(nodeDataArray[i].key===inputConnect2.value&&nodeDataArray[i].type==="netns")
              b2=nodeDataArray[i];
            }
            if(b1&&b2)
            {
              b1.loc=b2.loc;
            }
            else
            {
              linkDataArray.push({from:inputConnect1.value,to:inputConnect2.value});
            }
            load();
    }

    const setupIP=()=>{
      for(let i=0;i<nodeDataArray.length;i++)
      {
        if(nodeDataArray[i].key===inputAddIp.value)
        nodeDataArray[i].text=nodeDataArray[i].key+"\n地址:"+nodeDataArray[i].address+"\nip:"+inputIp.value;
      }
      load();
    }

    const deleteD=()=>{
        let temp=null;
      for(let i=0;i<nodeDataArray.length;i++)
      {
        if(nodeDataArray[i].key===inputDelete.value)
        {
          temp=nodeDataArray[i];
        }
      }
      if(temp===null)
      {
        console.log("无此元素")
        return false;
      }
      else if(temp.type!=="veth")
      {
        nodeDataArray=nodeDataArray.filter((item)=>{
          if(item.key===inputDelete.value)
          return false;
          return true;
        })
        linkDataArray=linkDataArray.filter((item)=>{
          if(item.from===inputDelete.value||item.to===inputDelete.value)
          return false;
          return true;
        })
      }
      else
      {
        let pair_key=temp.pair;
        nodeDataArray=nodeDataArray.filter((item)=>{
          if(item.key===inputDelete.value)
          return false;
          return true;
        })
        linkDataArray=linkDataArray.filter((item)=>{
          if(item.from===inputDelete.value||item.to===inputDelete.value)
          return false;
          return true;
        })
        nodeDataArray=nodeDataArray.filter((item)=>{
          if(item.key===pair_key)
          return false;
          return true;
        })
        linkDataArray=linkDataArray.filter((item)=>{
          if(item.from===pair_key||item.to===pair_key)
          return false;
          return true;
        })

      }
      load();
    }

    const setupD=()=>{
      for(let i=0;i<nodeDataArray.length;i++)
      {
        if(nodeDataArray[i].key===inputSetUp.value)
        {
          nodeDataArray[i].status=1;
          load();
          return true;
        }
      }
      console.log("无该设备")
      return false;
    }
    selectNode.onchange=()=>{
      if(selectNode.value==="vethpair")
      {inputCreate2.type="text";
      inputCreate2.placeholder="添加设备名";
       inputCreate3.type="hidden";
        inputCreate3.value="";
        inputCreate4.type="hidden";
        inputCreate4.value="";
      }
      else if(selectNode.value==="vxlan")
      { inputCreate2.type="text";
        inputCreate3.type="text";
        inputCreate4.type="text";
        inputCreate2.placeholder="添加多播ip";
      }
      else
      {
        inputCreate2.type="hidden";
        inputCreate2.value="";
        inputCreate3.type="hidden";
        inputCreate3.value="";
        inputCreate4.type="hidden";
        inputCreate4.value="";
      }
    }

    createDevice.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/create");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send(JSON.stringify({type:selectNode.value,name1:inputCreate1.value,name2:inputCreate2.value,name3:inputCreate3.value,name4:inputCreate4.value,location:inputLocation.value}));
            if(selectNode.value==="vethpair")
                        {
                          nodeDataArrayPush({key:inputCreate1.value,text:inputCreate1.value,type:"veth",loc:inputLocation.value,pair:inputCreate2.value})
                          locationMove(150,0);
                          nodeDataArrayPush({key:inputCreate2.value,text:inputCreate2.value,type:"veth",loc:inputLocation.value,pair:inputCreate1.value})
                          linkDataArray.push({from:inputCreate1.value,to:inputCreate2.value})
                        }
                        else
                        {
                          nodeDataArrayPush({key:inputCreate1.value,text:inputCreate1.value,type:selectNode.value,loc:inputLocation.value})
                        }
                        locationMove(10,10);
                        load();
                        inputCreate1.value="";
                        inputCreate2.value="";
                        inputCreate3.value="";
                        inputCreate4.value="";
            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {
                       const data=JSON.parse(xhr.response);
                       if(selectNode.value==="vethpair")
                       {
                         const len=nodeDataArray.length;
                         nodeDataArray[len-2].address=data[0];
                         nodeDataArray[len-1].address=data[1];
                         nodeDataArray[len-2].text=nodeDataArray[len-2].text+"\n地址:"+nodeDataArray[len-2].address;
                         nodeDataArray[len-1].text=nodeDataArray[len-1].text+"\n地址:"+nodeDataArray[len-1].address;
                         console.log(nodeDataArray[len-2].text)

                       }
                       else
                       {
                        const len=nodeDataArray.length;
                        nodeDataArray[len-1].address=data[0];
                        nodeDataArray[len-1].text=nodeDataArray[len-1].text+"\n地址:"+nodeDataArray[len-1].address;
                       }
                       load();
                       console.log("成功创建设备！")
                    }
                }
            }
    }

    connectDevice.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/connect");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send(JSON.stringify({name1:inputConnect1.value,name2:inputConnect2.value}));
            linkDataArrayPush();
            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {
                       console.log("成功连接设备！")
                    }
                }
            }
            inputConnect1.value="";
            inputConnect2.value="";
    }

    addIp.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/addip");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send(JSON.stringify({name:inputAddIp.value,ip:inputIp.value}));
            setupIP();
            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {

                       console.log("成功设置ip！")
                    }
                }
            }
            inputAddIp.value="";
            inputIp.value="";
    }

    setUpDevice.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/setup");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send(JSON.stringify({name:inputSetUp.value}));
            setupD();
            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {
                       console.log("设备已启动！")
                    }
                }
            }
            inputSetUp.value="";
    }

    deleteDevice.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/delete");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send(JSON.stringify({name:inputDelete.value}));
            deleteD();
            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {
                       console.log("设备已删除！")
                    }
                }
            }
            inputDelete.value="";
    }

    forwardAccept.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/openforward");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send("");
            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {
                       console.log("转发相关设置已开启！")
                    }
                }
            }
    }

    setRoute.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/setroute");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send(JSON.stringify({name:inputRoute.value}));

            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {
                       console.log("路由配置成功！")
                    }
                }
            }
            inputRoute.value="";
    }

    setDNAT.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/dnat");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send(JSON.stringify({name:inputDNATbr.value,ip:inputLAN.value}));

            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {
                       console.log("成功设置DNAT！")
                    }
                }
            }
            inputDNATbr.value="";
            inputLAN.value="";
    }

    setSNAT.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/snat");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send(JSON.stringify({name1:inputSNATbr.value,name2:inputSNATnetns.value}));
            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {
                       console.log("成功设置SNAT！")
                    }
                }
            }
            inputSNATbr.value="";
            inputSNATnetns.value="";
    }

    openServer.onclick=()=>{
      const xhr=new XMLHttpRequest();
      xhr.open("POST","http://47.110.233.28:5000/server/openserver");
            xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
            xhr.send(JSON.stringify({name:inputServernetns.value}));
            console.log(JSON.stringify({name:inputServernetns.value}));
            xhr.onreadystatechange=()=>{
                if(xhr.readyState===4)
                {
                    if(xhr.status>=200&&xhr.status<300)
                    {
                       console.log("启动server成功！")
                    }
                }
            }
            inputServernetns.value="";
    }

    // ping.onclick=()=>{
    //   const xhr=new XMLHttpRequest();
    //   xhr.open("POST","http://47.110.233.28:5000/server/ping");
    //         xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
    //         xhr.send(JSON.stringify({name:inputPing.value}));
    //         console.log(JSON.stringify({name:inputPing.value}));
    //         xhr.onreadystatechange=()=>{
    //             if(xhr.readyState===4)
    //             {
    //                 if(xhr.status>=200&&xhr.status<300)
    //                 {
    //                    console.log("ping成功了！")
    //                 }
    //             }
    //         }
    //         inputPing.value="";
    // }

    saveBtn.onclick=saveModel;
    loadBtn.onclick=load;



  function init() {
    if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
    var $ = go.GraphObject.make;  // for conciseness in defining templates
    myDiagram =
      $(go.Diagram, "myDiagramDiv");
    // conversion functions for Bindings in the Node template:
    function nodeTypeImage(type) {
      switch (type) {                                         // Image sizes
        case "bridge": return "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg10.360buyimg.com%2Fn1%2Fjfs%2Ft1%2F87012%2F11%2F16486%2F87886%2F5e7c1f68E2b8b1672%2F5054005087ed8c67.jpg&refer=http%3A%2F%2Fimg10.360buyimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1653733777&t=dbc4f2aab2d1f34ca800fb89d7f25d77";
        case "veth": return "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimgx.xiawu.com%2Fxzimg%2Fi2%2F868125923%2FTB2PH2GbNRzc1FjSZFPXXcGAFXa_%21%21868125923.jpg&refer=http%3A%2F%2Fimgx.xiawu.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1653735092&t=d4ba9c9d9e7711ffbba835c3493b96a8";
        case "netns":return "https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201707%2F20%2F20170720173146_PAaen.jpeg&refer=http%3A%2F%2Fb-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1653735959&t=0832306ac00527cbcabcc3e8b831916d"      // 55x55
        case "vxlan":return "https://img1.baidu.com/it/u=3606355564,3802011741&fm=253&fmt=auto&app=138&f=JPEG?w=400&h=320"
        default: return "https://gojs.net.cn/images/samples/pc.jpg";                      // 80x70
      }
    }
    function nodeTypeSize(type) {
      switch (type) {
        case "veth": return new go.Size(60, 60);
        case "bridge": return new go.Size(80, 70);
        case "netns": return new go.Size(150, 150);
        case "vxlan":return new go.Size(80, 70);
        default: return new go.Size(70, 70);
      }
    }
    function nodeProblemConverter(msg) {
      if (msg) return "red";
      return null;
    }
    function nodeOperationConverter(s) {
      if (s >= 2) return "TriangleDown";
      if (s >= 1) return "Rectangle";
      return "Circle";
    }
    function nodeStatusConverter(s) {
      if (s == 2) return "white";
      if (s == 1) return "green";
      return "grey";
    }
    myDiagram.nodeTemplate =
      $(go.Node, "Vertical",
        { locationObjectName: "ICON" },
        new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
        $(go.Panel, "Spot",
        $(go.Panel, "Auto",
          { name: "ICON" },
          $(go.Shape,
          { fill: null, stroke: null },
          new go.Binding("background", "problem", nodeProblemConverter),
          new go.AnimationTrigger('background')),
          $(go.Picture,
          { margin: 5 },
          new go.Binding("source", "type", nodeTypeImage),
          new go.Binding("desiredSize", "type", nodeTypeSize))
         ),  // end Auto Panel

        $(go.Shape, "Circle",
          {
      alignment: go.Spot.TopRight, alignmentFocus: go.Spot.TopRight,
      width: 12, height: 12, fill: "white"
     },
          new go.Binding("fill", "status", nodeStatusConverter),
          new go.AnimationTrigger('fill'))
         ),  // end Spot Panel
        $(go.TextBlock,{stroke:"black"},
        new go.Binding("text"))
       );  // end Node


    // conversion function for Bindings in the Link template:
    function linkProblemConverter(msg) {
      if (msg) return "red";
      return "gray";
    }
    myDiagram.linkTemplate =
      $(go.Link, go.Link.AvoidsNodes,
        { corner: 3 },
        $(go.Shape,
        { strokeWidth: 2, stroke: "gray" },
        new go.Binding("stroke", "problem", linkProblemConverter),
        new go.AnimationTrigger('stroke'))
       );
    load();
    // simulate some real-time problem monitoring, once every two seconds:
  }

  function saveModel(){
    const temp=JSON.parse(myDiagram.model.toJson());
    nodeDataArray=temp.nodeDataArray;
    linkDataArray=temp.linkDataArray;
  }

  function load() {
    myDiagram.model =new go.GraphLinksModel(nodeDataArray,linkDataArray);
  };

  if(window.init) {init();}
 </script>
</body>
</html>